.pageWrap {
    position: relative;
    margin-top: 85px;
    margin-left: 80px;
    max-height: calc(100vh - 85px);
    overflow-y: scroll;
    border: 1px solid #D9D9D9;
}

.content {
    min-height: 120vh;
    padding: 20px;
}