.pageWrap {
    margin-top: 85px;
    margin-left: 80px;
    max-height: calc(100vh - 85px);
    overflow-y: scroll;
    border: 1px solid #D9D9D9;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    /* margin is 5px less than design to adjust to scrollbar width */
    margin-right: 135px;
}