.pageWrap {
    position: relative;
    margin-top: 85px;
    margin-left: 80px;
    padding: 20px;
    max-height: calc(100vh - 85px);
    overflow-y: scroll;
    border: 1px solid #D9D9D9;
}

/* width */
.pageWrap::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.pageWrap::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* Handle */
.pageWrap::-webkit-scrollbar-thumb {
    background: #7e3ffcaf;
    border-radius: 16px;
}

/* Handle on hover */
.pageWrap::-webkit-scrollbar-thumb:hover {
    background: #7F3FFC;
}

.content {
    height: 200vh;
}