.sideCol{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 60px;
    padding-top: 20px;
    margin-bottom: 100px;
}
.filters{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    gap: 32px;
}