.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.block {
    padding: 46px;
    border: 1px solid #7F3FFC1A;
    border-radius: 16px;
    display: flex;
}

.block.positive {
    background-color: #7F3FFCE5;
}

.block.negative {
    background-color: #FF5018B2;
}

.block.small {
    flex: 0.58;
}

.block.narrow {
    flex: 1;
}

.block.wide {
    flex: 2;
}

.block.hidden {
    border: none;
    background: none;
}

.block .image {
    height: 80px;
    width: 80px;
}

/* Followers Tab */

.followersTab {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#followers {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}

#followers .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#followers .text div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

#followers .text h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#followers .text h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#followers .text h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#followers .text span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 9px;
}

#followers .text span.positive::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 7px solid #2CD114;
}

#followers .text span.negative::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 7px solid #CF1F1F;
}

#followers .search {
    position: relative;
    flex: 0.75;
}

#followers .search input[type="text"] {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF80;
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    outline: none;
}

#followers .search input[type="text"]::placeholder {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#followers .search .icon {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 24px;
    height: 24px;
}

/* Followers Table */

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.cell {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21B2;
    padding: 13px 24px;
    border: none;
}

.tableRow .cell:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tableRow .cell:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
}

.tableRow:nth-child(odd) .cell {
    background-color: #F2F2F24D;
}

.tableContainer .header {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 13px 24px;
    color: #1A1C21B2;
    text-align: start;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
}

.followButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid #1A1C2133;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.followButton.following {
    background-color: #1A1C211A;
}

.followButton.follow {
    background-color: #FFFFFF;
}

.followButton.followButton.follow::before {
    content: url(/icons/follow-gray.svg);
}

.followButton.following::before {
    content: url(/icons/following-gray.svg);
}