.profileVisitsTab {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#profileVisits {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/images/dashboard/masks/profile-visits-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#profileVisits .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#profileVisits .text div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

#profileVisits .text h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#profileVisits .text h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#profileVisits .text h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#profileVisits .text span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 9px;
}

#profileVisits .text span.positive::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 7px solid #2CD114;
}

#profileVisits .text span.negative::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 7px solid #CF1F1F;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.followButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid #1A1C2133;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 40px;
}

.followButton.following {
    background-color: #1A1C211A;
}

.followButton.follow {
    background-color: #FFFFFF;
}

.followButton.follow::before {
    content: url(/icons/follow-gray.svg);
}

.followButton.following::before {
    content: url(/icons/following-gray.svg);
}