.predictionOffers {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: -135px;
    padding: 40px 135px 40px 60px;
    background-color: #F2F2F24D;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ourGoals {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
}

/* PredictionOffers */

.predictionOffers h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

.predictionOffers .content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.predictionOffers .content .block {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: calc(50% - 20px);
    padding: 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    align-items: center;
}

.predictionOffers .content .block .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.predictionOffers .content .block h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.predictionOffers .content .block span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
}

/* OurGoals */

.ourGoals .block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ourGoals h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1A1C21;
}

.ourGoals span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #1A1C21;
}

.ourGoals ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ourGoals ul li {
    position: relative;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1A1C21;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.ourGoals ul li::marker {
    content: '';
}

.ourGoals ul#checks li::before {
    content: '';
    background-image: url(/icons/check-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    height: 24px;
    width: 24px;
    background-color: #7F3FFC;
    border-radius: 100%;
}

.ourGoals ul#stars li::before {
    content: '';
    background-image: url(/icons/star-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    height: 24px;
    width: 24px;
    background-color: #7F3FFC;
    border-radius: 100%;
}

.ourGoals ul#operate li::before {
    content: '';
    background-image: url(/icons/check-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    height: 24px;
    width: 24px;
}

.ourGoals span b {
    color: #7F3FFC;
}