.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pageImg {
    width: 56%;
    position: relative;
}

.formArea {
    min-width: 500px;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

.form::-webkit-scrollbar {
    display: none;
}

.loginTitle {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #1A1C21;
    margin-top: 0;
    margin-bottom: 12px;
}

.formText {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.7);
}

.formText a {
    color: #7F3FFC;
    font-weight: 600;
}

.socials {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 54px;
    margin-bottom: 30px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 38px;
    border: 1px solid rgba(26, 28, 33, 0.2);
    border-radius: 8px;
    flex: 1 1;
}

.separatorOr {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(26, 28, 33, 0.5);
    gap: 14px;
    position: relative;
    display: flex;
    align-items: center;
}

.separatorOr::before,
.separatorOr::after {
    content: "";
    height: 0px;
    width: 100%;
    border-top: 1px solid rgba(26, 28, 33, 0.2);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 24px;
}

.formBtns {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.row>div {
    flex: 1 1;
}

.passwordDescription {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.passwordTitle {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.checkOption {
    font: normal normal normal 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    gap: 12px;
    display: flex;
    align-items: center;
}

.checkOption::before {
    content: "";
    border: 1px solid #4B445333;
    border-radius: 100px;
    width: 18px;
    height: 18px;
}

.checkOption.active {
    color: #2CD114;
}

.checkOption.active::before {
    background-image: url(/images/login/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #2CD114;
    width: 16px;
    height: 16px;
}

.checkText {
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    margin-bottom: 32px;
}

.checkText a {
    text-decoration: underline;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #7F3FFC;
    cursor: pointer;
}

.checkTerms input {
    display: none;
}

.checkTerms {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.checkTerms .checkBox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #4B445333;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.checkTerms input:checked~.checkBox {
    background: #7F3FFC;
    position: relative;
}

.checkTerms input:checked~.checkBox:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.formTextForgot {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: rgba(26, 28, 33, 0.7);
}

.backToLogin {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7F3FFC;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 54px;
}

.header {
    position: fixed;
    top: 27px;
    left: calc((44% - 490px) / 2);
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #1E2025;
}