.bestBookmakers {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: -135px;
    padding: 40px 60px 40px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bestBookmakers .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bestBookmakers .header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1;
}

.bestBookmakers .header h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    z-index: 1;
}

.bestBookmakers .header h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    z-index: 1;
}

.bestBookmakers .bookmakers {
    display: flex;
    flex-direction: row;
    gap: 40px;
    z-index: 1;
}

.bestBookmakers .bookmakers * {
    z-index: 1;
}

.allBookmakers {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.allBookmakers .header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.allBookmakers .header h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
}

.allBookmakers .header h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.allBookmakers .bookmakers {
    display: flex;
    flex-direction: row;
    gap: 40PX;
    flex-wrap: wrap;
}

/* Best Bookmaker */

.bestBookmaker {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 16px;
    overflow: hidden;
}

.bestBookmaker .info {
    display: flex;
    flex-direction: row;
    padding: 28px 40px;
    gap: 40px;
}

.bestBookmaker .info .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bestBookmaker .info .column:first-child {
    flex: 2;

}

.bestBookmaker .info .column:last-child {
    flex: 1;
}

.bestBookmaker .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.bestBookmaker .offer {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.bestBookmakers .rating {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF33;
    border-radius: 8px;
}

.bestBookmaker .links {
    padding: 28px 40px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.bestBookmaker button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;
    border: none;
    flex: 1;
    cursor: pointer;
}

.bestBookmaker button.visit {
    background-color: #1A1C21;
    color: #FFFFFF;
}

.bestBookmaker button.review {
    background-color: #FFFFFF;
    color: #1A1C21;
}

/* Bookmaker */
.bookmaker {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    width: calc(25% - 30px);
}

.bookmaker .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 40px;
    gap: 12px;
}

.bookmaker .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.bookmaker .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 40px;
    gap: 12px;
    border-left: 1px solid #1A1C2133;
    border-right: 1px solid #1A1C2133;
    border-bottom: 1px solid #1A1C2133;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 40px;
}

.bookmaker .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;
    border: none;
    flex: 1;
    background-color: #F2F2F280;
    gap: 16px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}

.bookmaker .review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;
    border: none;
    flex: 1;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    background-color: #FFFFFF;
    cursor: pointer;
}