.mainColumn {
    grid-column-start: 1;
    grid-column-end: 10;
    gap: 40px;
}

.sideColumn {
    grid-column-start: 10;
    grid-column-end: 13;
    gap: 40px;
    padding-top: 20px;
}

.slider {
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

/* Slide */

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 66px 36px 10px;
    background-color: black;
    min-height: 540px;
    text-align: unset;
}

.slideBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideTimer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    z-index: 1;
}

.timerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerElementValue {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
}

.timerElementLabel {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    text-transform: uppercase;
}

.slideSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    gap: 16px;
}

.slideSummaryTitle {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.slideSummaryTitleCountry {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFFB2;
}

.slideSummaryTitleLeague {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.slideSummaryTeams {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.slideSummaryTeam {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.slideSummaryTeamName {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.slideSummaryTeamImage {
    height: 36px;
    width: 36px;
}

/* SignUp Propose */

.signUpPropose {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #7F3FFC;
    padding: 24px 24px 24px 16px;
    background-color: #7F3FFC1A;
}

.signUpPropose h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

.signUpPropose span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #1A1C21;
}

.signUpPropose button {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 0px;
    background: #7F3FFC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}