.rightColumn {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 60px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.rightColumn .filters {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mainColumn {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 100px;
}

.mainColumn .banner {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rightColumn .filters h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.mainColumn .predictions {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sideColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Tips Slider */

.tipsSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 41px 60px 0;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.tipsSlider h2 {
    position: relative;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.tipsSlider .background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.tipsSlider .sliderContainer {
    margin: 0 -20px;
}

.tipsSlider .slide {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 20px 50px;
}

/* Sports Slider */

.sportsSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sportsSlider h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.sportsSlider .slide {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sportsSlider .sport {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px 8px;
    gap: 9px;
    border: 1px solid #1A1C2133;
    border-radius: 8px;
    flex: 1;
    cursor: pointer;
    color: #1A1C21;
    transition: all 0.3s ease-in-out;
}

.sportsSlider .sport.active {
    background-color: #7F3FFC;
    color: #FFFFFF;
}

.sportsSlider .sport .image {
    height: 24px;
    width: 24px;
}

.sportsSlider .sport .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

/* Filter Buttons */

.filterButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filterButtons button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #FFFFFF;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    border: 1px solid #1A1C2133;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filterButtons button.active {
    background-color: #7F3FFC;
    color: #FFFFFF;
    border-color: #7F3FFC;
}