.mainBlock {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mainColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 60px;
}

.sideColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Verified Tipsters */

.verifiedTipsters {
    position: relative;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 170px 15px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    gap: 40px;
}

.verifiedTipstersBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.verifiedTipstersTitle {
    z-index: 1;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.verifiedTipstersSubtitle {
    z-index: 1;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.verifiedTipstersSlider {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.tipsterSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 50px;
}

/* Tipster Card */

.tipsterCard {
    display: flex;
    flex-direction: column;
    padding: 14px 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    flex: 1;
}

.tipsterCard .mainInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.tipsterCard .avatar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
    flex: 1;
}

.tipsterCard .info {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.tipsterCard .info .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #1A1C211A;
}

.tipsterCard .info .header .sport {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}

.tipsterCard .info .header button {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #7F3FFC;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tipsterCard .info .stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tipsterCard .info .stats div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.tipsterCard .info .stats div h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C2199;
}

.tipsterCard .info .stats div span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
}

.tipsterCard .subscriptionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #1A1C211A;
}

.tipsterCard .subscriptionInfo div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.tipsterCard .subscriptionInfo div h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #1A1C21;
}

.tipsterCard .subscriptionInfo div span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21B2;
}

.tipsterCard .subscriptionInfo button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 24px;
    border-radius: 8px;
    background-color: #7F3FFC;
    border: none;
    cursor: pointer;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

/* Tipster Modal */

.modalContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer .backdrop {
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(50%);
}

.modalContainer .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 400px;
}

.modal .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.modal .header div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1A1C21E5
}

.modal .header div .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1A1C21E5;
}

.modal .close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

.modal .plans {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal .plans>span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21B2;
}

.modal .plans .plansList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.modal .plansList .plan {
    display: flex;
    flex-direction: column;
    padding: 10px 14px 14px;
    gap: 10px;
    width: calc(50% - 6px);
    border: 1px solid #1A1C2133;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.modal .plan .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1A1C21E5;
    transition: all .3s ease-in-out;
}

.modal .plan .cost {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #1A1C21;
    transition: all .3s ease-in-out;
}

.modal .plan .duration {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1A1C21E5;
    transition: all .3s ease-in-out;
}

.modal .plan .description {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #1A1C21B2;
    transition: all .3s ease-in-out;
}

.modal .plan.active {
    background-color: #7F3FFC;
}

.modal .plan.active .name,
.modal .plan.active .duration {
    color: #FFFFFFE5;
}

.modal .plan.active .cost {
    color: #FFFFFF;
}

.modal .plan.active .description {
    color: #FFFFFFB2;
}

.modal .paymentMethods {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal .paymentMethods>span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21B2;
}

.modal .paymentMethods button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    border: 1px solid #1A1C2133;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

/* Countdown Timer */

.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 25px 32px;
    border-radius: 16px;
    overflow: hidden;
}

.timer .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.timer .header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer .header h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.timer .header span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFFCC;
}

.timer .time {
    width: max-content;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    word-spacing: 14px;
    color: #FFFFFF;
    text-align: center;
}

.timer .timeHint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    min-width: 172px;
}

/* .timer .timeHint span:first-child {
    margin-left: -25px;
} */

.timer .timeHint span:nth-child(2) {
    margin-right: -8px;
}

.timer .timeHint span:last-child {
    margin-right: -15px;
}

.timer .rules {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.timer .rules span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFFCC;
}

.timer .rules button {
    padding: 12px 24px;
    background-color: #FFFFFF33;
    border: none;
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}