.sideColumn {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px 30px 0 60px;
    height: 100%;
    background-color: #FBFBFB;
}

.mainColumn {
    padding-top: 20px;
    grid-column-start: 4;
    grid-column-end: 13;
}

.navigationContainer {
    position: sticky;
    top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
    max-height: 100%;
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navigation .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 40px;
}

.navigation .userInfo .user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navigation .userInfo .details {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.navigation .userInfo .avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid #1A1C211A;
}

.navigation .userInfo .avatar.verified::after {
    content: '';
    background-image: url(/icons/check-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    position: absolute;
    border-radius: 100%;
    background-color: #2CD114;
    top: 0;
    right: 0;
    border: 3px solid #FFFFFF;
}

.navigation .userInfo .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

.navigation .userInfo .rank {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21CC;
    display: flex;
    align-items: center;
    gap: 9px;
}

.navigation .userInfo .rank b {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21CC;
}

.navigation .userInfo .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.navigation .userInfo .stats .stat {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    border: 1px solid #7F3FFC33;
    border-radius: 8px;
}

.navigation .userInfo .stats .stat h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
}

.navigation .userInfo .stats .stat span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
}

.navigation nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Menu Item */

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menuItem>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.menuItem .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21B2;
    transition: all 0.3s ease-in-out;
}

.menuItem .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1C211A;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21B2;
    transition: all 0.3s ease-in-out;
}

.menuItem.active {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background-color: #7F3FFC;
}

.menuItem.active .name,
.menuItem.active .counter {
    color: #FFFFFF;
}

.menuItem.active .counter {
    background-color: #FFFFFF33;
}

/* Dashboard Tab */

.dashboardTab {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboardTab .row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.dashboardTab .block {
    padding: 46px;
    border: 1px solid #7F3FFC1A;
    border-radius: 16px;
    display: flex;
}

.dashboardTab .block.positive {
    background-color: #7F3FFCE5;
}

.dashboardTab .block.negative {
    background-color: #FF5018B2;
}

.dashboardTab .block.small {
    flex: 0.58;
}

.dashboardTab .block.narrow {
    flex: 1;
}

.dashboardTab .block.wide {
    flex: 2;
}

.dashboardTab .block.hidden {
    border: none;
    background: none;
}

.block .image {
    height: 60px;
    width: 60px;
}

#profit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(/images/dashboard/masks/wallet-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#profit .text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#profit h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

#profit span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/stats-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#stats .stat {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#stats h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#stats span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1A1C21;
}

#coins {
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-image: url(/images/dashboard/masks/coins-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#coins .info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#coins .count {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#coins .info h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#coins .info span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#coins .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#coins .description span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1C21;
}

#coins .description a {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    display: flex;
    align-items: center;
    gap: 10px;
}

#coins .description a:after {
    content: url(/icons/arrow-narrow-right-black.svg);
    height: 24px;
    width: 24px;
}

#bookmaker {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
}

#bookmaker h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#sport {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-image: url(/images/dashboard/masks/sport-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sport .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#sport h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}

#sport h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

#odds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/odds-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#odds .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#odds .text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#odds h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#odds span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/unit-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#unit .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#unit .detailed {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

#unit .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#unit h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#unit h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

#unit span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#bets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/bets-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bets .progressBar {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: none;
    background-color: #7F3FFC08;
}

#bets h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

#bets span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

#bets .progressBar.won h3,
#bets .progressBar.won span {
    color: #7F3FFC;
}

#bets .progressBar.pending h3,
#bets .progressBar.pending span {
    color: #FFB82D;
}

#bets .progressBar.lost h3,
#bets .progressBar.lost span {
    color: #FF5018;
}