html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* width */
body *::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body *::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
body *::-webkit-scrollbar-thumb {
    background: #7e3ffcaf;
    border-radius: 16px;
}

/* Handle on hover */
body *::-webkit-scrollbar-thumb:hover {
    background: #7F3FFC;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Bold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Thin.ttf) format('truetype');
    font-weight: 100;
}