.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter{
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 20px;
}
.standingsTable{

}
.standingsTable th{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}
.standingsTable td{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(26, 28, 33, 0.7);
    text-align: center;
}
.standingsTable tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}
.standingsTable td:first-child, .standingsTable th:first-child {
    padding-left: 20px;
}
.standingsTable td:last-child, .standingsTable th:last-child {
    padding-right: 20px;
}
.boldCell{
    font-weight: 700!important;
}
.teamHead{
    text-align: start;
    width: auto;
}
.teamCell{
    font-family: 'Samsung Sans'!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 15px!important;
    line-height: 18px!important;
    color: #1A1C21!important;
    text-align: start!important;
}
.standingsTable tbody tr:nth-child(2n-1) td{
    background: rgba(242, 242, 242, 0.3);
}
.standingsTable tbody tr:nth-child(2n-1) td:first-child { 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.standingsTable tbody tr:nth-child(2n-1) td:last-child { 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.teamCell span{
    display: flex;
    align-items: center;
    gap: 16px;
}
.teamLogo{
    overflow: hidden;
    background: #FFF;
    border: 3px solid rgba(26, 28, 33, 0.1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.questionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    background: rgba(26, 28, 33, 0.4);
    border-radius: 4px;

    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}