.bestBookmakers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bestBookmakersTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}

.bestBookmakersTitleText {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.bestBookmakersTitleText h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
    text-transform: uppercase;
}

.bestBookmakersTitleText h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

.bestBookmakersTitle button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #1A1C21;
    border: 1px solid #1A1C2133;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border-radius: 4px;
    height: fit-content;
    cursor: pointer;
}

.bestBookmakersList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bestBookmaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px 25px 32px;
    background-color: #ccc;
    border-radius: 8px;
}

.bestBookmakerRating {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    min-width: 64px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
}