.container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21B2;
    border: 1px solid #7F3FFC33;
    border-radius: 8px;
    width: 100%;
    min-width: max-content;
}

.mainLabel {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C2199;
}

.activeItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 11px 24px;
    cursor: pointer;
}

.activeName {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chevron {
    max-height: 16px;
    max-width: 16px;
}

.dropdown {
    position: absolute;
    top: 105%;
    overflow: hidden;
    height: 0;
    width: 100%;
    z-index: 10;
    max-height: 250px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 250px;
    border: 1px solid #7F3FFC33;
    border-radius: 8px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 11px 24px;
    cursor: pointer;
    width: 100%;
    background-color: #FFFFFF;
}

.item:hover {
    /* background-color: #F2F2F2B2; */
    filter: brightness(90%);
}

.label {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.search {
    padding: 11px 24px;
    background-color: #FFFFFF;
}