.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 36px;
    gap: 12px;
    background: #7F3FFC;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}